<div id="cookie-consent" class="cookie-consent" aria-label="Cookie consent banner">
  This site uses cookies to control the display of this cookie consent banner
  and for Google Analytics.
  <button id="cookie-consent-dismiss" class="cookie-consent-button" onclick="recordConsent()">
    OK
  </button>
  <button id="cookie-consent-learn-more" class="cookie-consent-button" onclick="learnMore()">
    Learn more
  </button>
</div>
<script>
  const cookieBox = document.getElementById("cookie-consent");

  if (document.cookie.indexOf("CookieBy=DeveloperVoyageGithubIo") != -1 ||
    window.doNotTrack === "1" ||
    navigator.doNotTrack === "1" ||
    navigator.doNotTrack === "yes" ||
    navigator.msDoNotTrack === "1") {
    cookieBox.classList.add("hide");
  } else {
    cookieBox.classList.remove("hide");
  }

  function recordConsent() {
    // Set cookie for 30 days, after which it expires automatically
    document.cookie = "CookieBy=DeveloperVoyageGithubIo; max-age=" + 60 * 60 * 24 * 30;
    if (document.cookie) {
      cookieBox.classList.add("hide");
    } else {
      alert(
        "Cookie can't be set! Please unblock this site from the cookie settings of your browser."
      );
    }
  }

  function learnMore() {
    window.open("/disclaimer/#cookies", "_self");
  }
</script>